html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfdcfe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

/* Styling the box App */
.App {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  width: 40rem;
  height: 50rem;
  background-color: #303c5b;
  padding: 2rem;
  font-family: sans-serif;
  margin: 1rem;

  & h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
  }
}

/* styling the Input */

.Todo-form {
  display: flex;
  margin-bottom: 2rem;
}

.input-task {
  outline: none;
  border: 1px solid #7996e3;

  height: 3.5rem;
  padding: 0 5px;

  flex: 1;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
}

.btn-submit {
  border: none;
  height: 3.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0 1rem;
  background-color: #7996e3;
  color: #fff;
}

/* styling the list of task */

.box {
  flex: 1;
  overflow-y: auto;
}
.box::-webkit-scrollbar {
  display: none;
  overflow-y: auto;
}

ul {
  list-style: none;

  & li {
    background-color: #7996e3;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
  }
}

.btn-icon {
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 42rem) {
  .App {
    width: 35rem;
  }
  input {
    font-size: 1.6rem;
  }
  .btn-submit {
    font-size: 1.5rem;
  }
}

.checkanditem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
